<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>AutoMaGa</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="././assets/imag/aunto.png" alt="">
    <mat-card-content>
      <p class="fuente">
        Somos una empresa 100% mexicana que se dedica a la renta de equipos de transporte para cualquier tipo de viaje dentro de la República mexicana,
        estamos firmemente comprometidos con tu bienestar, seguridad y comodidad desde el momento que llegas con una idea hasta que la procesamos y 
        nos hacemos cargo de hacerla realidad
      </p>
    </mat-card-content>
  </mat-card>