<article [class.content]="!tamano" [class.content-mob]="tamano">
    <mat-toolbar>
      <button *ngIf="tamano" type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  
    <mat-drawer-container class="example-container">
      <mat-drawer #drawer [mode]="tamano?'over':'side'" [opened]="tamano?false:true"  fxFlex="20"
        fxLayout="column" fxLayoutAlign="start space-between" [style.marginTop.px]="85">
        <mat-list  class="list-width" >
          <mat-list-item class="list-item" matRipple><a routerLink="Destino">Nuevo Destino</a></mat-list-item>
          <mat-list-item class="list-item" matRipple> <a routerLink="Cliente">Cliente</a></mat-list-item>
        </mat-list>
      </mat-drawer>
    </mat-drawer-container>
  </article>