<mat-card class="contact-card" fxLayoutAlign="center">
    <mat-card-header>
      <img class="login" src="././assets/imag/login.jpg" alt="">
    </mat-card-header>
    <mat-card-content>
      <form id="contactForm">
      <mat-form-field>
        <input matInput placeholder="Correo" class="form-control" formControlName="firstname">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Contraseña" class="form-control"  formControlName="ApePat">
      </mat-form-field>
      <br>
      <button mat-button color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
  