<mat-toolbar color="accent" class="barra">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-button>
        <mat-icon>directions_bus</mat-icon>
        <span class="logo">AutoMaga</span>
      </button>
      <div *ngIf="!tamano" fxLayout="row">
        <a routerLink="home"> <button mat-button>Home</button></a>
        <a routerLink="about"><button mat-button>Sobre nosotros</button></a>
        <a routerLink="preguntasFrecuentes"><button mat-button>Preguntas Frecuentes</button></a>
        <a routerLink="contacto"><button mat-button>Contacto</button></a>
        <a routerLink="ayuda"> <button mat-button><mat-icon>help</mat-icon> </button></a>
      </div>
    </div>

    <div>
      <button *ngIf="tamano" mat-icon-button >
        <a routerLink="login"><mat-icon>details</mat-icon></a>
      </button>
      <a routerLink="login"><button *ngIf="!tamano" fxLayoutAlign="end" mat-button><mat-icon>login</mat-icon></button></a>
    </div>

  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="tamano" fxLayoutAlign="space-between end">
    <a routerLink="home"> <button mat-button>Home</button></a>
    <a routerLink="about"><button mat-button>Sobre nosotros</button></a>
    <a routerLink="preguntasFrecuentes"><button mat-button>Preguntas Frecuentes</button></a>
    <a routerLink="contacto"><button mat-button>Contacto</button></a>
  </mat-toolbar-row>
</mat-toolbar>

