<mat-card class="example-card">
    <img mat-card-image src="././assets/imag/help.jpg" alt="">
    <mat-card-content>
        <mat-list class=divider>
            <mat-list-item class="pregunta"><mat-icon>filter_1</mat-icon> Selecciona el boton de "home" para regresar a nuestra pantalla principal</mat-list-item>
            <mat-list-item class="respuesta"><mat-icon>filter_2</mat-icon>Selecciona el boton de "sobre nosotros" para ingresar a un breve resumen de AutoMaga </mat-list-item> 
            <mat-divider></mat-divider>
            <mat-list-item class="pregunta"><mat-icon>filter_3</mat-icon>Selecciona el boton de "Preguntas Frecuentes" para que puedas ver algunas preguntas que hace nuestros clientes</mat-list-item>
            <mat-list-item class="respuesta"><mat-icon>filter_4</mat-icon> Selecciona el boton de "Contacto" para ver nuestras diferentes redes sosciales o contacto por el que podemos brindarte un servicio</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="pregunta"><mat-icon>filter_5</mat-icon>Selecciona el boton de "Login" para poder ingresar a nuestro sistema, ingresando usuario y contraseña</mat-list-item>
            
            <mat-divider></mat-divider>
            <mat-list-item class="respuesta"><mat-icon>filter_6</mat-icon>Selecciona el boton de "Nuevo Destino" para poder ingresar empezar a cotizar tu nueva aventura</mat-list-item>
            <mat-list-item class="pregunta"><mat-icon>filter_7</mat-icon>Selecciona el boton de "Cliente" para poder ingresar tus datos personales</mat-list-item>

        </mat-list>
    </mat-card-content>
  </mat-card>